<div class="dropdown" style="margin-left: 20px; z-index: 100;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dashboards
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="overview">Overview</a>
    <hr>
    <a class="dropdown-item" href="cycledashboard"> Strategic </a>
    <hr>
    <a class="dropdown-item" href="tactical_dashboard">Tactical</a>
    <hr>
    <a class="dropdown-item" href="paused">Paused</a>  
    <hr>
    <a class="dropdown-item" href="boards">Cycle Planning Board</a>  
    
  </div>
</div>