<ul class="navbar-nav">

  <li class="nav-item"><%#= link_to "Cards", {  :controller => "cards", :action => "index" }, class: 'nav-link' %>
  </li>

  <%
    # access levels - See wiki https://github.com/mlibrary/tracc/wiki/Permissions
    # 0=super user
    # 1=Cycle Planning Coordinator and the team Admin
    # 2=LIT Coordinating Group User
    # 3=LIT Project/Tech Leads Guest
    # 9=view options only

    # menu numbers
    # 1=Tools
    # 2=Import
    # 3=Update
    # 4=Reports
  %>
  
  <% access_level =10 %>
  <% access_level = check_current_access %>
 
  <%= render_nav_actions do |config, action|%>
    <% if (access_level != 9) # guest%>
    
      <% if ( (config.partial.include? "tools") && (access_level > 0) ) %>
        <% else %>
         <li class="lead"><%= action %></li>     
      <% end %>    
    <% end %>
  <% end %>

  <% if has_user_authentication_provider? %>
   
    <% unless current_user.to_s.blank? -%>
    <li class="lead">
     <button type="button" class="btn btn-light" style="margin-left: 20px;">
      <%= link_to current_user, edit_user_registration_path, {:style=>'color:#000; text-decoration:none'} %>
    </button>
    </li>
    <% end %>
     <% if current_user %>
  
    
    <% else %>
    <li class="lead">
      <button type="button" class="btn btn-light"><%= link_to "Login", new_user_session_path , {:style=>'color:#000; text-decoration:none'} %>
      </button>
     
    </li>
    <% end %>
  <% end %>
</ul>

