<div class="jumbotron text-center">
  <h1 class="jumbotron-heading"><%= t('blacklight.welcome') %></h1>

  <p class="lead">Take - Rate - Assess - Communicate - Close </p>
  <p class="lead"> Cycle Management: Tracking work from intake to close</p>

  <p>
    <%#= link_to 'Process Documentation', '', class: 'btn btn-primary' %>
  </p>
</div>

<div id="getting-started">
  <h2>heading 1</h2>
</div>