<script>
$(document).on('ready page:load', function(){
  $(".add-milestone").click(function(){
    alert("I am an alert box!");
    });
});
</script>

<% 
access_level = check_current_access
super_or_admin = (access_level == 0 || access_level == 1) ? true : false

mstones  = Milestone.where("card_id='" + @document.id + "'")
comments = Comment.where("card_id='" + @document.id + "'")
objectives = Objective.where("card_id='" + @document.id + "'")
%>

<div class="card show-tools" style="margin-top: 100px;">
    <div class="card-header mstones">
      <h2 class="mb-0 h6 d-inline-block">Milestones:</h2>
    </div>

    <%# List milestones for this card %>
    <ul class="list-group list-group-flush">

      <% if mstones.first.nil?%>
        <li class="list-group-item">
          <em>No milestones</em>
        </li>
      <% else %>
        <% mstones.each do |stone| %>
          <li class="list-group-item">
            <%= stone.milestone %>
          </li>
        <% end %>
      <% end %>

        <% if super_or_admin %>
          <!-- Material input -->
          <!-- Default input -->
          <label for="exampleForm2">New Milestone</label>
          <input type="text" id="exampleForm2" class="form-control">
          <li class="list-group-item"><button type="button" class="btn btn-outline-secondary btn-sm d-inline-block add-milestone">Add</button></li>
        <% end %>

    </ul>

</div>

<div class="card show-tools" style="margin-top: 30px;">
    <div class="card-header comments">
      <h2 class="mb-0 h6 d-inline-block">Comments:</h2>
    </div>
     
    <%# List comments for this card %>
    <ul class="list-group list-group-flush">

      <% if comments.first.nil?%>
        <li class="list-group-item">
          <em>No comments</em>
        </li>
      <% else %>
        <% comments.each do |comm| %>
          <li class="list-group-item">
            <%= comm.comment_txt%>
          </li>
        <% end %>
        <% end %>

        <% if super_or_admin %>
          <li class="list-group-item"><button type="button" class="btn btn-outline-secondary btn-sm d-inline-block add-comment">Add</button></li>
      <% end %>

    </ul>
     
    </ul>
</div>

<div class="card show-tools" style="margin-top: 30px;">
    <div class="card-header objectives">
      <h2 class="mb-0 h6 d-inline-block">Objectives:</h2>
    </div>
     
    <%# List comments for this card %>
    <ul class="list-group list-group-flush">

      <% if objectives.first.nil?%>
        <li class="list-group-item">
          <em>No objectives</em>
        </li>
      <% else %>
        <% objectives.each do |obj| %>
          <li class="list-group-item">
            <%= obj.objective%>
          </li>
        <% end %>
      <% end %>

      <% if super_or_admin %>
        <li class="list-group-item"><button type="button" class="btn btn-outline-secondary btn-sm d-inline-block add-objective">Add</button></li>
      <% end %>
     
    </ul>
</div>
