<p style="padding-top: 85px"></p>
<div class="card">
  <div class="card-header">
   <h5>Objectives</h5>
  </div>
  <div class="card-body">

<% card_id = params["id"]
   str = "card_id ='"+card_id+"'"
   o_one = Objective.where(str)

   o_one.each do |o|
%>
   <p><%= o.objective.html_safe %></p>
<%    
   end 
%>
</div>
</div>