<% 
access_level = check_current_access
super_or_admin = (access_level == 0 || access_level == 1) ? true : false
%>

<div class="card show-tools" style="margin-top: 100px;">
    <div class="card-header">
      <h2 class="mb-0 h6 d-inline-block">Milestones:</h2>
      <% if super_or_admin %>
        <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block">Edit</button>
      <% end %>
    </div>

    <ul class="list-group list-group-flush">
     
        <li class="list-group-item">
          one
        </li>

        <li class="list-group-item">
          one
        </li>

        <li class="list-group-item">
          one
        </li>

        <li class="list-group-item">
          one
        </li>
     
    </ul>
</div>

<div class="card show-tools">
    <div class="card-header">
      <h2 class="mb-0 h6 d-inline-block">Comments:</h2>
      <% if super_or_admin %>
        <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block">Edit</button>
      <% end %>
    </div>

    <ul class="list-group list-group-flush">
     
        <li class="list-group-item">
          one
        </li>

        <li class="list-group-item">
          one
        </li>

        <li class="list-group-item">
          one
        </li>

        <li class="list-group-item">
          one
        </li>

        <li class="list-group-item">
          one
        </li>
     
    </ul>
</div>

