
<% 
access_level = check_current_access
super_or_admin = (access_level == 0 || access_level == 1) ? true : false
%>

<% doc_presenter = show_presenter(document) %>
<div class="card">
  <div class="card-header">
    <h2 class="mb-0 h6 d-inline-block">Details:</h2>
    <% if super_or_admin %>
      <% @card_one = Card.find( document.id ) %>
      <a href=<%= edit_card_path(@card_one) %> class="btn btn-outline-secondary btn-sm d-inline-block float-right" style="color:inherit;" role="button">Edit</a>
    <% end %>
    </div>
  <div class="card-body">

<%# default partial to display solr document fields in catalog show view -%>

    <% doc_presenter.fields_to_render.each do |field_name, field| -%>
    <div class="row" style="margin-bottom:20px;">
      <div class="col-md-3"><%= render_document_show_field_label document, field: field_name %></div>
      <div class="col-md-9"><%= doc_presenter.field_value field %></div>
    </div>
    <% end -%>
  </div>
</div>
