<% 
access_level = check_current_access
super_or_admin = (access_level == 0 || access_level == 1) ? true : false

mstones  = Milestone.where("card_id='" + @document.id + "'")
comments = Comment.where("card_id='" + @document.id + "'")
%>

<div class="card show-tools" style="margin-top: 100px;">
    <div class="card-header">
      <h2 class="mb-0 h6 d-inline-block">Milestones:</h2>
      <% if super_or_admin %>
        <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block">Edit</button>
      <% end %>
    </div>

    <%# List milestones for this card %>
    <ul class="list-group list-group-flush">

      <% if mstones.first.nil?%>
        <li class="list-group-item">
          <em>No milestones</em>
        </li>
      <% else %>
        <% mstones.each do |stone| %>
          <li class="list-group-item">
            <%= stone.milestone %>
          </li>
        <% end %>
      <% end %>

    </ul>

</div>

<div class="card show-tools" style="margin-top: 30px;">
    <div class="card-header">
      <h2 class="mb-0 h6 d-inline-block">Comments:</h2>
      <% if super_or_admin %>
        <button type="button" class="btn btn-outline-secondary btn-sm d-inline-block">Edit</button>
      <% end %>
    </div>
     
    <%# List comments for this card %>
    <ul class="list-group list-group-flush">

      <% if comments.first.nil?%>
        <li class="list-group-item">
          <em>No comments</em>
        </li>
      <% else %>
        <% comments.each do |comm| %>
          <li class="list-group-item">
            <%= comm.comment_txt%>
          </li>
        <% end %>
      <% end %>

    </ul>
     
    </ul>
</div>

