
<div class="container">
<h4>TRACC- LIT Cycle Management Tool Features:</h4>
<div class="row">
  <div clas="col">
    <p><b>Dashboards:</b></p>
  </div>  
</div>

<div class="row">
  <div clas="col">
    <p><b>Reports:</b></p>
  </div>  
</div>

<div class="row">
  <div clas="col">
    <p><b>Edit/Update:</b></p>
  </div>  
</div>

<div class="row">
  <div clas="col">
    <p><b>Tools:</b></p>
  </div>  
</div>


</div>