
<div class="dropdown" style="margin-left: 20px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Import
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/cards/import_card">Cards</a>
    <a class="dropdown-item" href="/cards/import_impact">Impact</a>
    <a class="dropdown-item" href="/cards/import_complexity">Complexity</a>
    <a class="dropdown-item" href="/cycle_review/import">Cycle Review</a>
    <a class="dropdown-item" href="/assessment/import">Assessment</a>
    <a class="dropdown-item" href="/cards/import_impact">LIT Priority</a>
  </div>
</div>



