<div class="dropdown" style="margin-left: 20px; z-index: 100;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reports
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/reports/charts">View</a>
    <a class="dropdown-item" href="/reports">Export</a>
    <a class="dropdown-item" href="/reports/overview">Dashboard - Overview</a>
    <a class="dropdown-item" href="/reports/dashboard">Dashboard - Strategic Stats</a>
    <a class="dropdown-item" href="/reports/strategic">Dashboard - Strategic Details</a>
    <a class="dropdown-item" href="/reports/tactical_stats">Dashboard - Tactical Stats</a>
    <a class="dropdown-item" href="/reports/tactical">Dashboard - Tactical Details</a>
    <a class="dropdown-item" href="/reports/paused">Dashboard - Paused</a>
    
    
    
    
  </div>
</div>