<div class="dropdown" style="margin-left: 20px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Tools
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  	<%#<a class="dropdown-item" href="bookmarks">Bookmarks</a>%>
  	<%# <a class="dropdown-item" href="search_history">Search History</a> %>
   
    <a class="dropdown-item" href="/cycle_review">Cycle Review</a>
    <hr> 
  	<a class="dropdown-item" href="/chips/staff_chips">Staff Chips</a>
    <hr>
    <a class="dropdown-item" href="/cards/settings">Settings</a>
    <hr>
  	<a class="dropdown-item" href="/reports/about">User Guide</a>
    
    
  </div>
</div>