<div class="dropdown" style="margin-left: 20px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   Setup
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  	<%#<a class="dropdown-item" href="bookmarks">Bookmarks</a>%>
  	<%# <a class="dropdown-item" href="search_history">Search History</a> %>
   
    <a class="dropdown-item" href="<%= new_cycle_path %>">New Cycle</a>
    <hr> 
    <a class="dropdown-item" href="<%= edit_tracks_cards_path %>">Strategic Tracks</a>
    <hr> 
    <a class="dropdown-item" href="<%= settings_cards_path %>">Status & Rationale</a>
    <hr>
  	<a class="dropdown-item" href="<%= staff_chips_chips_path %>">Staff Chips</a>
    
    
    
  </div>
</div>