<div class="dropdown" style="margin-left: 20px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Edit
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    
    <a class="dropdown-item" href="/cards">Projects</a>
    <a class="dropdown-item" href="/alerts">Action Items/Alerts</a>
    <a class="dropdown-item" href="/cards/edit_objectives">Objectives</a>
    
    <hr>
    <%#<a class="dropdown-item" href="/impact">Impact</a>
    <a class="dropdown-item" href="/complexity">Complexity</a>%>
    
    <a class="dropdown-item" href="/cards/progress">Strategic Progress</a>
    <a class="dropdown-item" href="/cards/resources">Strategic Resources</a>
    <hr>
    <a class="dropdown-item" href="/cards/tactical_progress">Tactical Progress</a>
    <a class="dropdown-item" href="/cards/tactical_resources">Tactical Resources</a>
    <hr>
    <a class="dropdown-item" href="/cycle_review">Cycle Review</a>
    
  </div>
</div>