<div class="dropdown" style="margin-left: 20px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Update
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/cards">Cards</a>
    <%#<a class="dropdown-item" href="/impact">Impact</a>
    <a class="dropdown-item" href="/complexity">Complexity</a>%>
    <a class="dropdown-item" href="/cycle_review">Cycle Review</a>
  </div>
</div>