
<%= form_tag("import_impact_ratings", :enctype =>"multipart/form-data") do %>
<div class="card">
<div class="card-header">
	<h4> Import Impact Sheet</h4>
</div>
<div class="card-body">	
   <div class="row ml-1">
   <div class="field">
     <%= label_tag :file %>
     <%= file_field_tag :file,  :required => true  %>
   </div>
</div>

   <div class="row ml-1">
   <div class="actions">
      <%= submit_tag 'Next' %>
   </div>
   </div>
</div>   
</div>
<% end %>
