<h5>Tracks Saved</h5>
<a href="../cards/edit_tracks">Add/Update Strategic Tracks</a>
<p>  </p>
<a href="../cards/resources">Add/Update Strategic Resource Allocation</a>
<p>  </p>
<a href="../cards/tactical_resources">Add/Update Tactical Resource Allocation</a>
<p> <hr> </p>
<a href="../dashboard/cycledashboard">View Strategic Dashboard</a>
<p>  </p>
<a href="../dashboard/tactical_dashboard">View Tactical Dashboard</a>
<p> <hr> </p>
<a href="../dashboard/boards">Cycle Planning Boards</a>