<h5>Objectives Saved</h5>
<a href="../cards/edit_objectives">Back to Edit Objectives</a>
<p></p>
<a href="../reports/cycledashboard">View Strategic Dashboard</a>
<p></p>
<a href="../reports/tactical_dashboard">View Tactical Dashboard</a>
