<h5>Resources Updated</h5>

<a href="../cards/resources">Edit Resource Allocation for Strategic Projects</a>
<p>  </p>
<a href="../cards/tactical_resources">Edit Resource Allocation for Tactical Projects</a>
<p>  </p>
<a href="../dashboard/cycledashboard">View Dashboard</a>
