<div class="container">
<h4>TRACC- LIT Cycle Management Tool Features</h4>

<div class="row">
  <div class="col">
    <p><b>Assign Staff to Projects</b></p>
    <ul><li>Dashboards → Cycle Planning Board</li>
    <li>Select the Cycle and Type (Strategic, Tactical)</li>
    <li>Select "Edit Resources", then "Add Resources" </li>
    <li>For strategic projects, choose the appropriate track before adding resources.</li>
    <li>Return to Dashboards → Cycle Planning Board to add or edit resources.</li></ul>
  </div>  
</div>

<div class="row">
  <div class="col">
    <p><b>View All Cards, Edit a Card, Create a New Card:</b></p>
    <ul><li>Edit → Project Details</li>
    <li>Edit a Card: Select "Edit" to edit details for a project</li>
    <li>Create a New Card: At the end of the page, there is a link to add a new card </li>
    </ul>


  </div>  
</div>

<div class="row">
  <div class="col">
    <p><b>View Staff Allocation Per Cycle:</b></p>
    <ul><li>Reports → Staff Allocation</li>
    <li>Select the Cycle and Department. Select Refresh.</li>
   
    </ul>
  </div>  
</div>

<div class="row">
  <div class="col">
    <p><b>Add a new staff member, Edit Staff, Project/Ops Allocation:</b></p>
    <ul>
      <li>Setup → Staff Chips</li>
<li>To add new staff, click Next.</li>
<li>To view Project/Ops allocation, click "view all" (next to Edit Staff Chips).</li>

<li>To edit Project/Ops allocation, select the uniqname and click Next.</li>
    </ul>
  </div>  
</div>

<div class="row">
  <div class="col">
    <p><b>Add project progress for Strategic Projects (Initiatives):</b></p>
    <ul><li>Edit → Progress</li>
      <li>Choose the appropriate cycle and strategic project</li>
      <li>For the relevant month, add the percent of progress for each track and comments. </li><ul>
      <li>Comments should be for all progress on all tracks.</li>
      <li>Progress is cumulative, eg, if you add 20% for Nov and have made 10% more progress for the next month, you will add 30% for Dec. (Only add the number, not the percent sign.)
      </li></ul></ul>
  </div>  
</div>

<div class="row">
  <div class="col">
    <p><b>Add project progress for Tactical Projects:</b></p>
     <ul><li>Edit → Progress</li>
      <li>Choose the appropriate cycle and tactical project</li>
      <li>For the relevant month, add the percent of progress for each track and comments. </li><ul>
      <li>Comments should be for all progress on all tracks.</li>
      <li>Progress is cumulative, eg, if you add 20% for Nov and have made 10% more progress for the next month, you will add 30% for Dec. (Only add the number, not the percent sign.)
      </li></ul></ul>
  </div>  
</div>

</div>