<div class="container">
<h4>About TRACC</h4>
<div class="row">
  <div class="col">
    <p>The custom tool, TRACC, is a comprehensive tool for request intake and portfolio management. It is an open source, Ruby on Rails application, built with Blacklight and Solr. A group of Library IT staff members worked with Library IT Coordinating Group as stakeholders in an agile way; a prototype was developed and shared with them.</p>
    <p>For more information, please contact Nabeela Jaffer</p>
  </div>  
</div>



</div>