@import 'bootstrap-variables';
@import 'bootstrap';

@import 'bootstrap-overrides';

@import 'blacklight/blacklight';

body {
	top-margin:0px !important;
}
container {
	top-margin:0px !important;
}

a:hover {
  text-decoration: underline;
  background-color: transparent !important ; 
  color: #000 !important ;
}
