<div class="dropdown" style="margin-left: 20px; z-index: 100;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/about/">About</a> 
    <a class="dropdown-item" href="/about/help">Help</a> 
  </div>
</div>