<div class="dropdown" style="margin-left: 20px; z-index: 100;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dashboards
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/reports/overview">Overview</a>
    <a class="dropdown-item" href="/reports/cycledashboard"> Strategic </a>
    <a class="dropdown-item" href="/reports/tactical_dashboard">Tactical</a>
    <a class="dropdown-item" href="/reports/paused">Paused</a>  
  </div>
</div>