 <div class="container">
  <div class="row">
    <div class="col-md">
    	<div class="card">
  		<div class="card-header">
    		<h5>LSP</h5>
  		</div>  
 		<div class="card-body">
 			  <div class="card">
          <div class="card-header">Capacity Allocated: 30%, 2 FTE </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Name 1: 0.5 FTE</li>
              <li class="list-group-item">Name 2: 0.25 FTE</li>
            </ul>  
          </div>
        </div>

       <div class="card">
          <div class="card-header">Objectives </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">obj 1: 
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                </div>
              </div>
              
 
              </li>
             
            </ul>  
          </div>
        </div>
<div class="card">
          <div class="card-header">Status </div>
          <div class="card-body">
            <ul  class="list-group list-group-flush">
              <li class="list-group-item">Completed: </li>
              <li class="list-group-item">Left to do: </li>
            </ul>  
          </div>
        </div>




 		</div>  		 
  		</div>
    </div>
    <div class="col-md">
    	<div class="card">
  		<div class="card-header">
    		<h5>Catalog Search</h5>
  		</div>  
 		<div class="card-body"></div>  		 
  		</div>

    </div>
  </div>
  <div class="row">
  	<br>
  </div>	
  <div class="row">
    <div class="col-md">
    	<div class="card">
  		<div class="card-header">
    		<h5>Library Search</h5>
  		</div>  
 		<div class="card-body"></div>  		 
  		</div>
    </div>
    <div class="col-md">
    	<div class="card">
  		<div class="card-header">
    		<h5>Deep Blue</h5>
  		</div>  
 		<div class="card-body"></div>  		 
  		</div>
    </div>
    
  </div>
  
</div>