Generate

<% data = Gchart.bar( :data => [[1,2,4,67,100,41,234],[45,23,67,12,67,300, 250]], 
            :title => 'SD Ruby Fu level', 
            :legend => ['matt','patrick'], 
            :bg => {:color => '76A4FB', :type => 'gradient'}, 
            :bar_colors => 'ff0000,00ff00')

%>
 <div class="card">
 <div class="card-header">
 	<h5><%=params["chart"] %></h5>
 </div>	
 <div class="card-body">
        <%= image_tag data %>
 </div>
</div>