<h5>Reports: Charts</h5>



<% cname = Cycle.all %>


<div class="card">
	<h2></h2>

<%= form_tag("reports/generate", :enctype =>"multipart/form-data") do %>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Cycle:</label>
    <div class="col-sm-10">
      <%= select_tag "cycle", options_from_collection_for_select(cname, "cycle_name", "cycle_name")  %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Type:</label>
    <div class="col-sm-10">
      <%= select_tag "activity_type", options_for_select([ "Investigations", "Projects" ], "Projects") %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Generate</button>
    </div>
  </div>

</div>
<% end %>
