 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
%>   

<h3> FY20:3 PAUSED LIST </h3>

 <div class="row" style="padding-top: 20px">
   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Soon</h5>    
      </div>
      <div class="card-body">   
        <h5 >Interactive Game</h5>    
        <hr>
        <h5 >SALI</h5>    
        <hr>
        <h5 >DB Campus Readership Map</h5>    
      </div>  
    </div>
   </div>

   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Later</h5>    
      </div>
      <div class="card-body">   
        <h5 >Rare Print Copies</h5>    
        <hr>
        <h5 >ERRWPC-CHER</h5>    
        <hr>
        <h5 >Dark Blue</h5>  
        <hr>
        <h5 >Bibframe Analysis</h5>    
      </div>  
    </div>
   </div>

  </div>    
</div>  