 <div class="container">
<% color1 = "" #neutral 100
   color2 = "" #blue-300

   color3 = "" 
   color4 = ""
%>   

<h3> FY20:3 Library IT "PAUSED" PROJECTS </h3>

 <div class="row" style="padding-top: 20px">
   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Soon</h5> <p>(Will be reviewed during the cycle for resource availability.
These will be considered next to become Active as
resources become available.)</p>   
      </div>
      <div class="card-body">   
        <h5 ><a href="https://trello.com/c/jD244I35/644-transfer-graduate-student-interactive-game">Transfer and Graduate Student Interactive Game</a></h5> <p>This project would pilot and prototype a game-based scavenger
hunt for new transfer students and graduate students based on
application code developed by Ann Arbor District Library’s
Summer Game (code available on GitHub). Students would be
able to explore library spaces, interact with collections, and
develop information literacy skills in an interactive and
informative method.</p>   
        <hr>
        <h5 ><a href="https://trello.com/c/kUJO9yLF/480-project-sali-improvements">SALI</a></h5>  <p>The Scheduling Application for Library Instruction, also known
as SALI (https://www.lib.umich.edu/instruction/request), is a
web application built by the Learning Technologies Incubation
Group (LTIG) several years ago that is heavily used by the
Learning Programs and Initiatives (LPI) department. This
application provides a way for people throughout the University
of Michigan to request library instructional sessions as well as
tools for library personnel to schedule rooms and instructors
and make arrangements for those sessions.</p>  
        <hr>
        <h5 ><a href="https://trello.com/c/Eg5kKtWw/654-campus-partnership-map-extension-mapping-deposits-made-to-deep-blue-and-deep-blue-data">DB Campus Readership Map</a></h5>  <p>This project would clone the Campus Partnership Map
developed for Michigan Publishing Services and the Press
(https://www.publishing.umich.edu/our-reach - 2nd
map on this page) and repurpose it into a separate map
to visualize where on campus deposits to the Deep Blues
are originating.</p>  
      </div>  
    </div>
   </div>

   <div class="col-md">
    <div class="card" style="background: <%=color1 %>">
      <div class="card-header" style="background: <%= color2 %>">
        <h5 >Later</h5>  <p> (The capacity to make these projects active is further out.
Service ownders may want to consider an altnernate
strategy or redefine the scope)</p>  
      </div>
      <div class="card-body">   
        <h5 ><a href="https://trello.com/c/aFaJ24As/561-project-upgrade-tool-to-identify-rare-unique-print-copies">Rare Print Copies</a></h5>   <p>LIT has created and currently maintains a program used by the
Digital Conversion Unit (DCU) to identify community holdings
(“is it unique?”) and other information about books proposed for
scanning. This proposal would upgrade and enhance the tool,
and potentially modify it to be used by other BTAA libraries. </p>
<hr>
<h5 >Dark Blue</h5> <p>The Library is pursuing several initiatives resulting in digital
content that requires preservation actions, but does not require
immediate public access. These initiatives include digitization of
deteriorating audio and video assets, transfer of born-digital
archival content from obsolete external media in Special
Collections, and licensed content purchased by the Library
which includes material like perpetual access backups and
archive copies of geospatial data. This proposal would address
several additional needs requiring development that have
emerged since Dark Blue was created.
</p>
       

        <hr>
        <h5 ><a href="https://trello.com/c/mGu32YL8/520-replace-errwpc-with-better-preservation-and-access-focused-service-x-div">ERRWPC-CHER</a></h5>
<p>The Electronic Resources Received Without Physical Container
(ERRWPC) Pilot program was developed in 2004 to store and
provide access to digital material that arrived without a physical
container, such as resources that were downloaded after
purchase. ERRWPC has limped along since then without a major
review or adapting to the changing landscape of licensed digital
content.This proposal recommends ERRWPC be replaced by a
new service named Cataloged and Hosted Electronic Resources
(CHER). This new process will work in much the same way as
ERRWPC in terms of access to stand-alone digital formats
through the Mirlyn catalog, with a number of improvements in
workflow and management for access and preservation of
digital materials.</p>
             <hr>
        
        <h5 ><a href="https://trello.com/c/5J9W3nxu/560-technology-to-support-bibframe-analysis">Bibframe Analysis</a></h5>  <p>The University of Michigan Library participated in Casalini’s
SHARE-VDE project in 2017 and 2018. As part of this project we
received our entire catalog converted into Bibframe. A group
within Technical Services would like the ability to analyze the
conversion to test its outcome. In order to do so we need three
key pieces of technology, a place to store the dataset, a graph
database, and a SPARQL endpoint.</p>  

     <hr>
        
        <h5 ><a href="https://trello.com/c/SNeMxrmh/453-project-deploy-infrastructure-to-serve-and-archive-licensed-geospatial-data-rsr">GeoSpatial Data</a></h5>  <p>This proposal follows the recently completed Geospatial Data
investigation. The library has a collection of licensed geospatial
data and has plans to grow that collection substantially, but does
not currently have a method for making these items accessible
to users, nor do we provide longer-term preservation of those
data. This proposal looks at the need to build infrastructure for
storing and preserving geospatial data as well as making it
available to user-facing search interfaces.</p>
      </div>  
    </div>
   </div>

  </div>    
</div>  